.banner {
  width: 800px;
  height: 100px;
  border: 0px dotted cyan;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  display: none;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.flag {
  display: flex;
  height: 70px;
  width: 45px;
  background: hsl(43, 90%, 55%);
  color: hsl(43, 90%, 5%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  transform-origin: 50% 0%;

  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.string {
  display: none;
}
.flag:nth-of-type(odd) {
  background: hsl(343, 90%, 55%);
}

@supports (offset-path: path('M0,0 C100,100 700,200 800,100')) {
  .banner {
    height: 230px;
    transform: rotate(-6deg);
  }
  .flag:not(.string) {
    position: absolute;
    offset-anchor: 50% 0%;
    offset-path: path("M4,6 C217,141, 692,147 635,138");
  }


  .string,
  .string svg {
    position: absolute;
    width: 800px;
    top: 0;
    left: 0;
    height: 230px;
    display: block;
    background: transparent;
    clip-path: none;
  }
  .string path {
    stroke: hsla(183, 20%, 30%, .3);
    stroke-width: 1px;
    d: path('M0,0 C100,100 700,200 800,100');
  }
}

body {
  height: 100vh;
  perspective: 700px;
  background: hsl(183, 100%, 95.25%);

}
*, *::before, *::after {
  box-sizing: border-box;
}